@import url('https://fonts.googleapis.com/css2?family=Orienta&display=swap');

body {
  margin: 0;
  font-family: 'Orienta', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2E2E2E;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
