.titleInputContainer {
  all: unset;
  display: flex;
  flex-direction: column;
  padding: 0 2vw 0 2vw;
  margin-top: 1vh;
}

.textInput {
  all: unset;
  border-bottom: 2px #2e2e2e solid;
  padding-bottom: 1vh ;
}

.label {
  font-size: 1.5vh;
  margin-bottom: 1vh;
}
