.backButtonContainer {
    height: 3vh;
    position: fixed; 
    bottom: 0;
    left: 0;
    padding: 0vh 1vw 0vh 1vh;
    margin: 1vh 0 1vh 0;
}

.backButtonContainer button {
    all: unset;
    margin-left: 1vw;
    font-size: 1.8vh;
}

.backIcon {
    font-size: 1.8vh;
}