.collectionThumbnail {
  position: relative;
  margin: 2vh;
}

.imageContainer {
  max-width: 90vw;
  height: 30vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnailDetails {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  background: white;
  opacity: 0.8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.thumbnailDetails p {
  margin: .5vh 0 0.5vh 0;
  font-size: 3.5vw;
  color: #2e2e2e;
}

.details {
  margin-left: 2vw;
}

.deleteIcon {
  position: relative;
  left: 0;
  height: 3vh;
}

.date {
  font-size: 2.9vw;
}

.editIcon {
  height: 4vh;
}

.cloudIcon {
  height: 3.5vh;
}

.icons {
  padding-right: 1vw;
  width: 30vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
