.collection-thumbnail {
  position: relative;
  margin: 2vh;
}

.image-container {
  max-width: 90vw;
  height: 30vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail-details {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  background: white;
  opacity: 0.8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.thumbnail-details p {
  margin: 0.5vh;
  font-size: 3.5vw;
  color: #2e2e2e;
}

.details {
  margin-left: 2vw;
}

.delete-icon {
  color: #2e2e2e;
  position: relative;
  left: 0;
  margin-right: 2vw;
}

#date {
  font-size: 2.9vw;
}
