.collection-thumbnail {
    position: relative;
    margin: 2vh;
}

.image-container {
    max-width: 90vw;
    height: 30vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumbnail-details {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    padding-left: 2vw;
    width: 100%;
    background: white;
    opacity: .8;
}

.thumbnail-details p {
    margin: .5vh;
    font-size: 3.5vw;
    color: #2E2E2E;
}

#timestamp {
    font-size: 2.9vw;
}