.collection-thumbnail {
       
}

img {
    
}

.image-container {
    max-width: 90vw;
    max-height: 30vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}