#buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0vh 2vw 3vh 2vw;
  position: fixed;
  bottom: 3vh;
  width: 96vw;
}

.small-button {
  all: unset;
  font-size: 2vh;
  border: 2px solid black;
  width: 30vw;
  padding: 4vw;
  text-align: center;
}
